.container {
    padding: 20px 40px 20px 40px;
    background-color: #141c3a;

    .options {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
}